@import "principal.css";
@import "index.css";

.d-borde-sombreado {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.d-estilo-titulo {
  font-family: var(--text-primary-font);
  color: var(--text-header-color);
}

.d-color-icon {
  color: var(--home-color);
}

.form-input:valid {
  border-color: #b4b4b4;
}

.d-form-input:focus:invalid {
  border-color: #ff0000d8;
}
