@import "principal.css";
.row{
    display: flex;
}
.row-scroll {
    display: flex;
    overflow-x: scroll;
  }
  
  .row-scroll::-webkit-scrollbar {
    display: none;
  }
  .destinos{
      display:;

  }
.formula{
  padding: 10px;
  display: flex;
}
