@import "principal.css";
@import "todaslasregiones.css";

.row {
  display: flex;
}
.row-scroll {
  display: flex;
  overflow-x: scroll;
}

.row-scroll::-webkit-scrollbar {
  display: none;
}

.k-cotize {
  font-family: var(--text-primary-font);
  color: var(--text-primary-color);
  font-size: 1.5em;
}
.k-label {
  font-family: var(--text-secundary-font);
  color: var(--text-secundary-color);
  font-size: 1.3em;
}
.img-k {
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  float: left;
  padding-right: 1em;
  margin-bottom: -1.25em;
}
.text2-k {
  font-family: var(--text-secundary-font);
  color: var(--text-secundary-color);
  font-size: 1em;
}
.text2-k2 {
  font-family: var(--text-secundary-font);
  color: var(--text-secundary-color);
  font-size: 1em;
}
