@import "principal.css";
@import "index.css";

.text1-i {
  font-family: var(--text-primary-font);
  color: var(--text-primary-color);
  text-align: center;
}

.text2-i {
  font-family: var(--text-secundary-font);
  color: var(--text-secundary-color);
  font-size: 1.3em;
}

.text3-i {
  font-family: var(--text-secundary-font);
  color: var(--text-secundary-color);
  font-size: 1.3em;
}

.m-auto {
  margin: auto;
}

@media (max-width: 576px) {
  .text1-i {
    font-size: 1.7em;
  }
}

/*--colores region andina */

.d-botoni {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #1e7fd9;
  box-shadow: 0px 2px 4px rgba(52, 60, 68, 0.16),
    0px 0px 1px rgba(117, 131, 142, 0.04);
  border-radius: 8px;
  border: transparent;
}

.d-home-colori {
  background-color: #1e7fd9;
}

/*--end color andina */


/*--colores region amazonas*/
.d-botoniama {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #327d26;
  box-shadow: 0px 2px 4px rgba(52, 60, 68, 0.16),
    0px 0px 1px rgba(117, 131, 142, 0.04);
  border-radius: 8px;
  border: transparent;
}

.d-home-coloriama {
  background-color: #327d26;
}

/*--colores region caribe */
.d-botonicari {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #d9b703;
  box-shadow: 0px 2px 4px rgba(52, 60, 68, 0.16),
    0px 0px 1px rgba(117, 131, 142, 0.04);
  border-radius: 8px;
  border: transparent;
}

.d-home-coloricari {
  background-color: #d9b703;
}

/*--colores region orinoquuía */
.d-botoniori {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #90ca46;
  box-shadow: 0px 2px 4px rgba(52, 60, 68, 0.16),
    0px 0px 1px rgba(117, 131, 142, 0.04);
  border-radius: 8px;
  border: transparent;
}

.d-home-coloriori {
  background-color: #90ca46;
}

/*--colores region pacifico*/
.d-botonipac {
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #e8671f;
  box-shadow: 0px 2px 4px rgba(52, 60, 68, 0.16),
    0px 0px 1px rgba(117, 131, 142, 0.04);
  border-radius: 8px;
  border: transparent;
}

.d-home-coloripac {
  background-color: #e8671f;
}